.dark {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #181818;
}
.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.light {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
}
